/*  #Mobile (Portrait) width of 320px 
================================================== */
@media only screen and (max-width: 767px) {
	
		/* ************************************************************************************************
		 GENERAL STYLE
		************************************************************************************************ */
		#wrapp{ padding-top:10px;}
		body {padding: 0;}
		 .container {margin: 0 2.127659574468085%;}
		#columns { padding:0px 0 0px 0;z-index:1;}
		#right_column  {padding-top:0px;}
		#product #right_column  {padding-top:0px; margin-top:-20px;}
		#customcontent_home2{ display:none;}
		#customcontent_home{ display:none;}
		#header {padding: 0 0 6px;}
		.breadcrumb { width:100%; margin:10px 0 0 0px; padding:0px 0 7px 0;}
		.breadcrumb .breadcrumb-home {margin:8px 0 -5px 0px; display: inline-block;}
		select{ height:35px; line-height:35px;}
		html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
		input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"]{ height:38px;}
		/* ************************************************************************************************
		FORM
		************************************************************************************************ */	
		form.std .text input, form.std .password input,form.std .select select,form.std .textarea textarea {width:100%;}
		#add_address label { display:block;}
		#multishipping_mode_box,.address-form-multishipping{ display:none;}
		#order #loyalty {margin: 0 0 15px; padding: 10px 0;}
		#cart_voucher .btn.btn-inverse {padding-bottom: 9px;padding-top: 10px;}
		#contact_form p {margin-bottom:6px;}
		/* ************************************************************************************************
		HEADER
		************************************************************************************************ */	
		.blockpermanentlinks-header {position: absolute;left:0 !important;right:75%;top:0px; width:25%; }
		#header #cart_block{ top:121px;}
		#header-inner {padding-top:227px;position: relative;z-index: 101;}
		#header_user {right:0px;top:80px;}
		#header-inner {background:none; margin:0;}
		#header_logo {top:60px; width:160px;}
		.main-mobile-menu{display:block;margin:0px 0px 0px 0px}
		#header_links{ display:none;}
		#header_user .shopping_cart .title-cart{ font-size:14px; display:inline-block;}
		#header_user .shopping_cart b{ width:280px; background:#fff; padding:10px 10px 10px 10px}
		#header_user .shopping_cart {background: url(../img/bg-cart.png) no-repeat  center top;}
		#header_user .opancart{ top:17px;}
		#search_block_top {position:absolute;right:0px;top:165px; width:100%}
		#search_block_top input.search_query {width: 96%;
			padding: 10px 2%;
			line-height: 20px;
			margin-left: -1px;}
		#search_block_top .btn { text-align: center;
			margin-left: -55px;
			position: relative;
			z-index: 1;}
		#header_user .shopping_cart b span, #header_user .shopping_cart .ajax_cart_quantity{ font-size:17px;}
		#header_user .shopping_cart .ajax_cart_total {display: inline-block!important;}
		#header_user .shopping_cart .ajax_cart_product_txt,#header_user .shopping_cart .ajax_cart_product_txt_s{ display:none!important;}
		.alert_cart{ background:#000; width:310px; position: fixed; left:50%; top:0; margin-left:-155px; z-index:9998;}
		.alert_cart a{ display:block; padding:21px 40px 22px 50px; height:42px; font-size:12px; color:#fff; font-weight:bold; position:relative;z-index:9997;}
		.alert_cart span{background:url(../img/delete_top.png) center 10px  no-repeat; width:35px; height:35px; position:absolute; right:5px; top:23px; cursor:pointer; z-index:9999;}
		.alert_cart span:hover{ background-position: center -50px;}
		.alert_cart img{ position:absolute; left:10px!important; top:10px!important; width:40px!important; height:40px!important; z-index:9995}
		.alert_cart a:hover{ color:#a9a9a9;}
		.alert_cart img{border:2px solid #999;position:relative; background:#fff;}
		.footer-bg-mob{background:#fff; border-top:6px solid #000000}
		.nbrItemPage.nbr_page .b-core-ui-select{ margin-left:5px;}
		footer .modules{ border:none;}
		/* ************************************************************************************************
		BUTTONS
		************************************************************************************************ */
		input.button_mini, input.button_small, input.button, input.button_large, input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled, input.exclusive_mini, input.exclusive_small,input.exclusive, input.exclusive_large, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, a.button_mini, a.button_small, a.button, a.button_large,a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large, span.button_mini, span.button_small, span.button, span.button_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large,button,
.button,
.btn,
input[type="button"],
input[type="submit"],
input[type="reset"],.btn_add_cart {padding:11px 14px 11px 13px; font-size:13px; line-height:18px;}
		.pagination ul > li > a, .pagination ul > li > span { height:42px; line-height:42px;}
		
		
		.extra_wrapp{ border:none; max-width:none; padding:8px 0 0 0; margin-bottom:0;}
		/* ************************************************************************************************
		HOMEFEATURED
		************************************************************************************************ */
		#featured_products ul li{ width:200px;}
		#featured_products ul li .product_image {float:none;height: 215px;width:200px;margin:0 auto; text-align:center;}
		#featured_products ul li h5{ width:180px; float:none; padding-top:10px; min-height:25px;}
		#featured_products ul li .product_descr{ width:180px; float:none; font-size:12px; display:none;}
		#columns #featured_products ul li h5 a{ font-size:16px;}
		#featured_products ul li span.price {font-size:18px;line-height:18px;padding: 0 0 16px;}
		
		/* ************************************************************************************************
		MOBILE MENU TOP
		************************************************************************************************ */
		.mobile-link-top{display:block;background:#000;}
		.mobile-link-top h4.act{background:#333;}
		.mobile-link-top h4{ margin:0; display:block;height:30px; padding-top:15px;border-right:1px solid #444444;}
		.mobile-link-top h4 .arrow_header_top_menu.arrow_header_top { position:static; background:url(../img/main_sprite.png) 0px  -96px  no-repeat; width:25px; height:15px; margin:0px auto 0 auto; display:block;}
		.mobile-link-top h4.act .arrow_header_top_menu{ background-position:0 -117px;}
		body#index a.header_links_home,#sitemap a.header_links_sitemap,#contact a.header_links_contact,#cms a.header_links_delivery,#stores a.header_links_store{ color:#979797;}
		#mobilelink ul {list-style:none;width:140px;position:absolute;top:45px;left:0px;display:none;z-index:101;}
		
		
		/* ************************************************************************************************
				LANGUAGES CURRENCIES
		************************************************************************************************ */
		#languages_block_top.mobile-open,#currencies_block_top.mobile-open{background:#333;}
		#languages_block_top,#currencies_block_top{top:0px;text-align:center;width:100%;height:45px;background:#000;}
		#languages_block_top p,#currencies_block_top p.inner-carrencies { padding:6px 0 12px 0;border-right:1px solid #444;color:#fff;}
		#countries_2 .countries_ul,#setCurrency .currencies_ul {position: absolute;left:-1px;top:45px;width:140px; text-align:left;}
		
		/* languages */
		#languages_block_top {right:0px; overflow: hidden;}
		#languages_block_top p .arrow_header_top{ position:inherit;right: inherit;top:inherit;display: inline-block;margin:2px 0px 4px 5px; background-position:0 -84px !important; height:7px; width:13px;}
		#languages_block_top p .arrow_header_top.mobile-open{background-position:-13px -84px !important;}
		
		/* currencies */
		#currencies_block_top p .arrow_header_top{ position:inherit;right: inherit;top:inherit;display: inline-block;margin:2px 0px 4px 5px;  background-position:0 -84px !important; height:7px; width:13px;}
		#currencies_block_top p .arrow_header_top.mobile-open{background-position:-13px -84px !important;}
		#currencies_block_top {right:25%;}
		
		/* ************************************************************************************************
				BLOCK HEADER USER INFO LOGIN/LOGOUT
		************************************************************************************************ */
		.blockuserinfo { display:block;position:absolute;top:0px; right:0px; text-align:center; padding-right:10px; height:45px;background:#000; left:auto}
		.blockuserinfo a{display:block; padding:12px 0 15px 0; color:#fff;}
		.blockuserinfo .auth-tab ul li a {
			display: inline;
			padding: 0;
			color: #999;
		}
		.blockuserinfo:hover a{color:#fff}
		.blockuserinfo .popover {
			top: 35px !important;
			left: auto !important;
			right: -1px !important;
		}
		#authentication .blockuserinfo{background:#333;}
		.blockuserinfo a.login span { color:#fff;}
		.blockuserinfo a.logout span {color:#fff;}
		.blockuserinfo:hover a.login span,
		#authentication .blockuserinfo a.login span{ }
		.blockuserinfo:hover a.logout span,
		#authentication .blockuserinfo a.logout span{}
		/* ************************************************************************************************
		FOOTER 
		*********************************************************************************************** */
		footer .block { width:100%}
		footer .block h4{ padding:5px 0px 7px 0px;background:url(../img/footer-button.png) 100%  11px  no-repeat; margin-top:9px; margin-bottom:0;}
		footer .block h4:hover{ cursor:pointer;}
		footer .block h4.active{background:url(../img/mobile-close.png) 100%  11px  no-repeat;}
		footer .modules .block ul{ display:none; padding:16px 0 0 0}
		footer .block .list-footer li {padding: 0 0 6px;}
		.bottom_footer{ border:none;}
		footer .block .list-footer li a{ padding-right:10px;}
		footer .modules{ padding-bottom:100px;}
		/* ************************************************************************************************
		PAGE CONTACT
		************************************************************************************************ */
		#contact_form p.submit{ padding-top:20px;}
		#contact_form p{ padding-top:7px; padding-left:0;}
		#contact_form label{ float:none; display:block; text-align:left; margin-bottom:7px;}
		#contact_form input{ float:none;}
		#contact_form .text input {width:100%;}
		#contact_form select {width:100%;}
		#contact_form .select select {width:100%;}
		#contact_form textarea#message {width:100%;}
		
		/* ************************************************************************************************
		PAGE MANUFACTURE ADN SUPLIER
		************************************************************************************************ */
		.mnf_sup_list li {height:auto;overflow: hidden;padding:0px 0 20px 0;}
		.mnf_sup_list li .right_side{ float:left; border:none;padding-left:0; width:100%; padding-top:2px;}
		.mnf_sup_list li .left_side {float:none;padding: 0 0 0 0px;width:100%; border:none;}
		.mnf_sup_list li .left_side div a  em.des-small { display:block; font-style:normal;}
		.mnf_sup_list li .left_side div a span{ display:none;}
		.mnf_sup_list li .logo{ margin-right:24px;}
		.mnf_sup_list li .logo img {margin-top: -3px;}
		.mnf_sup_list li .left_side div{ float:left;}
		.mnf_sup_list li .right_side p{ float:left;}
		.mnf_sup_list li .right_side p{ padding-top:20px; padding-right:20px;}
		/* ************************************************************************************************
		PAGE STORES AND SITEMAP
		************************************************************************************************ */
		div#stores_block p.text input {width:286px;height:35px; line-height:35px;padding:1px 1px 1px 10px;}
		div#stores_block p.select select{height:35px; line-height:35px;}
		div#center_column ul.tree a{ font-size:14px;}
		div.sitemap_block ul li a{font-size:14px;}
		#center_column .nbresult{ margin-bottom:10px; padding-top:0;}
		div.sitemap_block {margin: -4px 0 20px 0;}
		
		/* ************************************************************************************************
		BOX COL
		************************************************************************************************ */
		.column .block {margin: 0 0 0px 0;}
		.column .block h4 span.column_icon_toggle{ width:23px; padding:0; height:23px; display:block; float:right;background:url(../img/footer-button.png) right  0px  no-repeat; margin:5px 0px 0 0;}
		.column .block h4.active span.column_icon_toggle {background:url(../img/mobile-close.png) right  0px  no-repeat;}
		.column .block h4:hover{ cursor:pointer;}
		#layered_form .b-core-ui-select {width:284px;}
		#layered_form div div ul{ position:relative;}
		#layered_form .select {width:306px;height:32px;left:0!important; top:15px!important;}
		#layered_form > div > div  select{ width:40px;}
		.products_block ul li > div {width:228px;}
		.products_block ul li a.products_block_img {width: 60px;}
		#cart_block .products .price {width:128px;}
		.des-main{ display:none;}
		.des-mob{ display:block;}
		.column .block .store_list{ margin:0;}
		#stores_block_left p {text-align: center;}
		#layered_block_left span.layered_close { display:none;}
		/* ************************************************************************************************
		PAGINATION AND SORT AND SUBCATEGORY BLOCK
		************************************************************************************************ */
		.product_view{display:none;}
		.form_compare{ display:none;}
		.product_sort {margin-right:0px;float:none;}
		#itempage {float:none;margin:20px 0 0 0;}
		.product_sort #productsSortForm label {margin-bottom:7px;padding:0;float:none;}
		.product_sort #productsSortForm select {float:none;margin: 0 0 10px 0;width:300px;}
		#subcategories {margin-bottom: 5px;}
		#subcategories ul{ margin-left:-10px;}
		#subcategories ul li { width:145px; margin-right:0; margin-left:10px;}
		.lnk_more, #subcategories ul li .lnk_more {letter-spacing: 0.01em;}
		.sortPagiBar {padding:10px 0 0 0;}
		.bottom_pagination {margin-top: 10px;padding: 10px 0 1px 0;}
		#subcategories ul li .lnk_more{ min-height:28px}
		.bottom_pagination > form {float:right;margin:3px 0 10px 0;}
		.product_sort form {margin: 0;}
		#pagination { margin-bottom:10px;}
		.row_category .category_image{ float:none; margin:0  auto 20px auto; width:300px;}
		#view_scroll_right, #view_scroll_left {top:36px;}
		#thumbs_list li + li {margin-right: 9px;}
		#productsSortForm{ margin-bottom:10px;}
		#product_comments_block_extra .comments_advices a.read_rew{ margin-bottom:10px; border:none; padding-right:0; margin-right:0;}
		.row_compare_mobile{ width:300px; overflow:auto;}
		.layout_grid li:first-child{ border:none;}
		.layout_grid li.first_item{ border:none!important;padding-top:10px!important; margin-top:0;}
		/* ************************************************************************************************
		PRODUCT LIST
		************************************************************************************************ */	
		#product_list {padding:0px 0px 0px 0px;}
		#product_list li.first_item{ border:none; margin:0;}
		#product_list li {padding:10px 0 0px 0;margin:10px 0 0 0}
		#product_list li a.product_img_link {float:left;width:33%;}
		#product_list li .center_block .product_flags {margin:-2px 0 6px 0;}
		#product_list.list .center_block .product_flags {margin:-2px 0 11px 0;}
		#product_list li .center_block h3,.grid li h3 {margin:-3px 0 0px 0;}
		#product_list li .center_block{ width:64%;padding:0 0 14px 0px; float:right;}
		#product_list li .right_block{width:64%;border-width:0px;padding:0px 0px 0px 0px; float:right; height: auto;}
		#product_list li .right_block span.price {margin:0px 0px 0 0; font-size:19px; padding-bottom:0; line-height:23px;}
		#product_list .right_block span.discount {float: right;margin:0px 0 0px 0px;}
		#product_list .right_block span.on_sale{ float:right;margin:-11px 0 0 0; width:35px; height:31px;}
		#product_list li .right_block .button {margin:20px 0 0 0;}
		#product_list li .right_block .exclusive{margin:20px 10px 0 0px;}
		.title_shop { font-size:12px;}
		#product_list .product_flags span {margin: 0 13px 0 0;}
		.layout_grid li.num-1, .layout_grid li.num-2, .layout_grid li.num-3 {border-top: 1px dotted #B2B2B2;}
		.layout_grid li .right_block .on_sale{ display:block;float:right;}
		.layout_grid li .center_block .product_desc,  .layout_grid #product_list .right_block span.on_sale, .layout_grid #product_list .right_block span.discount,  .layout_grid #product_list .product_flags {display: inline-block;}
		#product_list li .mob,#product_list li .product_desc,#product_list li .compare,.product_compare{ display:none;}
		.column .block h4{ padding-top:0;}
		.column .block_content {padding-bottom: 21px;}
		#tags_block_left p { margin-bottom:0;}
		/* ************************************************************************************************
		 PAGE NOTFOUND
		************************************************************************************************ */	
		.pagenotfound form label { display:block; padding-bottom:4px; font-weight:bold; color:#333;}
		.pagenotfound form input  { line-height:35px; height:35px;}
		.pagenotfound h1{ margin-top:10px;}
		
		/* ************************************************************************************************
		PAGE PRODUCT
		************************************************************************************************ */	
		#primary_block {margin:0px 0 0 0; padding-top:20px;}
		#primary_block #pb-left-column {float: left;padding: 0 0 0 0px;margin:22px 0 0 0;}
		#primary_block #pb-right-column { margin:0 auto; float:none; position:relative; z-index:1;}
		#nextprev_links{ display:none;}
		#buy_block .row_1 p#quantity_wanted_p {clear: both;padding-right:0px; margin-top:10px;}
		
		#product_comments_block_tab div.comment div.comment_author { padding-bottom:20px;}
		#thumbs_list {width: 300px;}
		#thumbs_list li a {width: 92px;}
		#thumbs_list li:first-child a {width: 91px;}
		#views_block {height: 100px; width:300px; margin:0 auto}
		#primary_block #image-block{width:300px; margin:0 auto}
		#usefull_link_block{ margin-top:18px;}
		#usefull_link_block {border-bottom: 1px dotted #DADAD9; padding-bottom:2px; margin-top:10px;}
		.crossselling.page_product_box h3, .tab-video.page_product_box h3 {margin-top:20px;}
		#idTab4 li .accessories_price span.price {font-size: 17px;}
		#product_comments_block_tab div.comment div.comment_details {width: 100%;}
		.page_product_box a.prev, .page_product_box a.next{}
		.pb-right-colum-h{ display:block; margin: -10px 0 15px;}
		#pb-left-column h1{ display:none;}
		#pb-left-column .row_1{ border-top:none; }
		#pb-right-column .row_1{ display: block; margin-top:18px;border-bottom:none;}
		#pb-right-column .row_1 p{ margin-bottom:0;}
		#buy_block .row-2{ border-bottom:1px dotted #CCCCCC; padding-bottom:10px; padding-top:5px;}
		#pb-right-column  .row_1 p.our_price_display { padding-top:0; padding-bottom:3px; padding-right:20px;}
		#pb-right-column .row_1 #quantity_wanted_p label{ display:none;}
		.row_1 p#quantity_wanted_p {padding-top:7px;}
		/* ************************************************************************************************
		PAGE PRODUCT TUBS
		************************************************************************************************ */	
		#idTab4 li .accessories_price {float: left;padding: 20px 0 0;width: 250px;}
		#idTab4 li .accessories_desc {border-width: 0 0px 0 0;padding-right:0px;width:100%; padding-left:0px;}
		
			
		/**********************************************************************************************
		ORDER STEP
		***********************************************************************************************/
		p.cart_navigation .exclusive, p.cart_navigation .exclusive_large {float:right; margin-bottom:0px; padding-left:9px; padding-right:9px;}
		#order_steps {width:280px;overflow:hidden;margin:20px  auto 20px  auto; list-style:none;height:200px!important;}
		#order_steps li.even:first-child{background:#9c9c9c;}
		#order_steps li.even.step_current:first-child { background:#202020;}
		#order_steps li.even{ background:url(../img/marker-order2.png) center 0px  no-repeat #9c9c9c;}
		#order_steps li.odd{background:url(../img/marker-order2.png) center 0px  no-repeat #777777;}
		#order_steps li {width:280px;height:40px;float:none; text-align:center;}
		#order_steps li a,#order_steps li span {display: inline-block;padding:6px 0 0 5px;font:bold 14px "Arial";}
		#order_steps li span {color:#ffffff; font-weight:bold;}
		#order_steps li span span{color:#ffffff; font-weight:bold; font-size:14px; line-height:14px; float:none; text-align:center;}
		#order_steps li.even.step_current { background:#202020;}
		#order_steps li.odd.step_current { background:#202020;}
		#order_steps li a {font-weight:bold;color:#ccc;text-decoration:none; padding:0;}
		#order_steps li a:hover {color:#fff;}
		.list-order-step .img-order img{ width:71px; height:71px;}
		ul#address_delivery,ul#address_invoice{ width:86%; margin-bottom:10px;display:block; padding-bottom:10px;}
		#availableCarriers_table th{ font-size:12px; word-wrap:break-word;}
		
		/**********************************************************************************************
		SHOPPING CART PAGE
		***********************************************************************************************/
		#compare_shipping #availableCarriers_table {margin:0;}
		#order #right_column {padding-top:20px;}
		table#cart_summary td.cart_product {padding-right:20px;width: 100px;}
		#order-detail-content #cart_summary td.cart .div_cart_quantity_delete a { margin-left:10px;}
		#order-detail-content .title-th.cart_quantity_title{ display:none;}
		form#voucher fieldset p input.discount_name {width:258px;}
		#HOOK_SHOPPING_CART .crossselling.page_product_box h3{ margin-top:7px;}
		#compare_shipping_form p select {height:40px;line-height:40px;width:100%;}
		#compare_shipping_form p select option{ padding:7px;}
		#compare_shipping_form #compare_shipping .SE_SubmitRefreshCard {padding-left:0px;padding-top: 20px;text-align: center;}
		.list-order-step .cart_quantity_input.text {width: 32px;}
		.list-order-step #cart_quantity_button span {margin-right:6px;}
		#compare_shipping_form #compare_shipping .SE_SubmitRefreshCard input {margin-right:10px; margin-bottom:10px;}
		#order #HOOK_SHOPPING_CART {margin-bottom: 20px;}
		#compare_shipping_form p input {width:100%; }
		#account-creation_form  h3 {margin:10px 0 15px 0;padding:3px 8px 10px 10px;}
		table#order-list td.history_detail{border-bottom:1px solid #ccc!important;}
		table#order-list thead{ display:none;}
		#order-detail-content table  td strong{ font-weight:bold; color:#333; margin-right:7px;}
		#order-detail-content table .totalprice  td{border-bottom:1px solid #E5E5E5!important;}
		#shipping-table .tds-5{border-bottom:1px solid #E5E5E5!important;}
		#shipping-table thead{ display:none;}
		#sendOrderMessage select option{ padding:5px; width:268px;}
		.addresses #id_address_delivery{width:100%;}
		.addresses .address_delivery select option{ padding:5px;}
		#order-detail-content table td {}
		#order-detail-content table#cart_summary td {border-bottom:0;display:table-cell; font-size:12px;}
		#order-detail-content table.multishipping-cart  td strong{font-weight:bold;color:#333;margin-right:7px;clear:both;color: #333333;display: block;float:none;font-weight:bold;margin-right:7px;padding-bottom:7px;width: 100%;}
		#order-detail-content table.multishipping-cart td{ display:block!important; border-bottom:0!important; }
		#order-detail-content table.multishipping-cart thead{ display:none;}
		.multishipping-cart .cart_quantity {width: auto;overflow:hidden;}
		#order-detail-content table.multishipping-cart td select option{ padding:5px;}
		.order_delivery {padding-top: 7px;}
		#module-cheque-payment form{ margin-bottom:0;}
		
		form#voucher fieldset h4{ float:none; padding:0 0 10px 0} 
		
		p.payment_module{ padding-top:0px;}
		
		p.payment_module + p { padding-top:20px;}
		.ordercart-title{padding:0px 0 14px 0;}
		#block-order-detail .address.alternate_item{ margin-right:0;}
		#block-order-detail .adresses_bloc ul{ margin-left:0px; padding:6px 5%; width:100%;}
		#module-cheque-payment #columns p.cart_navigation a,#module-bankwire-payment #columns p.cart_navigation a{ display:block; float:none; text-align:center;}
		#module-cheque-payment #columns p.cart_navigation input,#module-bankwire-payment #columns p.cart_navigation input{ width:100%; float:none;}
		#module-bankwire-payment #columns p.cart_navigation input{ margin-bottom:20px;}
		ul#address_delivery, ul#address_invoice { 
				width:100%;
				margin-right:0;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				-webkit-box-sizing:border-box;
				-ms-box-sizing:border-box;
			}
	#module-referralprogram-program #idTab3 table th { font-size:11px;}
	#module-referralprogram-program #idTab3 table th, #module-referralprogram-program #idTab3 table td {  padding-left:2px; word-wrap:break-word; padding-right:2px;}
	#module-referralprogram-program #idTab3 { overflow:auto;}
			.user-panel .nav-tabs>li {
				margin: 0 1% 5px;
				width: 45%;
			}
			.user-panel .nav-tabs>.active>a, 
			.user-panel .nav-tabs>.active>a:hover, 
			.user-panel .nav-tabs>.active>a:focus {
				border-top: 0px solid #ddd;
				border-left: 0px solid #ddd;
				border-right: 0px solid #ddd;
				border-bottom: 0px solid #fff;
				margin: 0;
			}
			.user-panel .nav-tabs > .active > a, 
			.user-panel .nav-tabs > .active > a:hover, 
			.user-panel .nav-tabs > .active > a:focus {
				color: #b83850;
			} 
			.shop_reviews_module .item .comment_wrapp {
				margin: 50px 0 0;
			}
}
@media only screen and (max-width: 480px) {
	/*logo size */
	#header_logo { width:160px;}
	.page_product_box h3 { cursor:pointer;}
	/*stores page table*/
	#stores-table td img {display:none;}
	#stores-table th {font-size:11px; padding-left:5px; padding-right:5px;}
	#stores-table td { padding-left:5px; padding-right:5px;}
	.center_column .locationbutton { padding-bottom:15px;}
			
}
@media only screen and (max-width: 520px) {
			footer .bottom_footer .in .copy {
				width:200px;
				font-size: 14px;
			}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	body#index .instant + #right_column {display:none;}
	/*clue tip*/
	#cluetip {left:50% !important; width:200px !important; 	margin-left:-100px;	}
	
}
@media only screen and (min-width: 767px) and (max-width: 970px) {

}