#primary_block {margin:0px 0 0 0; padding:30px 0 0 0}
.mousetrap {
    background: url(../img/mousetrap.png) no-repeat left top transparent !important;
    height: 106px !important;
    overflow: hidden;
	position:absolute;
	top: auto!important;
	left: auto!important;
	bottom:10px!important; right:10px!important;
    width: 106px !important;
    z-index: 999 !important;
	display:block;
}
#mousetrap_img{display: block ; z-index:2; opacity:0; width:106px!important; height:106px!important; position:absolute; right:10px; bottom:10px;}
#wrap a:hover{ cursor:default;}
#wrap a{ cursor:default;}
.mask {
	position:absolute;
	height:100%;
	width:100%;
	z-index:1;
	top:0;
	left:0;	
}
/* pb-right-column ***************************************************************************** */
.picpic:hover{cursor:auto;}
.img_zoom{display:block;z-index:2;opacity:0;}
.img_wrap{display:block;margin:0; position:absolute;z-index:1;}
#primary_block #image-block.thickbox_box{ padding:0; width:300px; height:300px;}
#primary_block #pb-right-column {float:left;}
#primary_block #pb-right-column .resetimg{ padding:0 0 5px 0; margin:0;}
#primary_block #image-block {border:1px solid #e5e5e5;}
#primary_block #image-block #view_full_size #bigpic {display:block;}
#primary_block #image-block img#bigpic.jqzoom {cursor:crosshair;position:relative;}
#pb-right-column #image-block #view_full_size .span_link img {position:relative;top:3px;left:-3px;border:none;padding-right:2px;}
#view_full_size .span_link { text-indent:-5000px;}
#views_block{ padding:10px 0 0 0px;position:relative; height:85px; overflow:hidden; margin-bottom:20px;}
#thumbs_list {width:371px;overflow:hidden;}
#thumbs_list ul{ list-style:none;width: 10000px !important;}
#thumbs_list li {float:left;cursor:pointer;margin-right:10px;}
#thumbs_list li + li {margin-right:10px;}
#thumbs_list li a{ display:block;width:83px;border:1px solid #e5e5e5;}
#thumbs_list li img {margin:0 0px 0 0px;padding:0;width: 100%;}
span.view_scroll_spacer {float: left;height:47px;width:47px;z-index:9;position:absolute;left:0px;top:50px;}
#view_scroll_left {
	float: left;
	height:47px;
	width:47px;
	text-indent: -3000px;
	background: url(../img/thumbs_left.png) no-repeat center center ;
	position:absolute;
	left:0;
	top:30px;
	z-index:9;
	display:none;
}
#view_scroll_right {background: url(../img/thumbs_right.png) no-repeat center center;position:absolute; right:0px; top:30px;text-indent: -3000px;float:left;z-index:9;height:47px;width:47px;}
span#wrapResetImages { width:200px;}
span#wrapResetImages div {width:306px;margin:0 0 -3px 0;padding:17px 0 10px 20px;}
span#wrapResetImages {display:none;}
span#wrapResetImages div {width:306px;margin:0 0 -3px 0;padding:17px 0 10px 20px;}
.tab-video .toggle_content{ padding:20px 0 10px 0;}
#pb-right-column .row_1{ display:none;}
/* ************************************************************************************************
											QUANTITY DISCOUNT
************************************************************************************************ */
#quantityDiscount {margin:0px 0 0px 0;padding:0 0px 0px 0px;}
#quantityDiscount .toggle_content{ padding:20px 0 10px 0;}
#quantityDiscount .shop_table { margin-bottom:0;}

/* ************************************************************************************************
										   PRODUCT DESCRIPTION
************************************************************************************************ */
.more_info_inner {margin:0px 0 0 0;padding:0 0px 0px 0px;}
.more_info_inner .toggle_content{ padding:0 20px 12px 10px;}
.more_info_inner p {margin:15px 0 1px 0;padding:0; font-size:13px;}

/* ************************************************************************************************
												DATA SHIT
************************************************************************************************ */
.datasheet{margin:0px 0 0 0;padding:0 0px 0px 0px;}
.datasheet ul {padding:9px 20px 5px 10px;list-style:none;}
.datasheet ul li {padding:7px 0 0 12px;background: url(../img/bullet.png) no-repeat 0 15px; color:#ff553d; font-style:italic; font-size:17px;}
.datasheet ul li span {font-weight:bold; color:#333; font-size:14px; font-style:normal;}

/* ************************************************************************************************
											ATTACHMENT
************************************************************************************************ */
.attachment_product {margin:0px 0 0 0;padding:0 0px 0px 0px;}
.attachment_product ul { list-style-type:none; padding:20px 0 20px 0;}
.attachment_product li {margin:0 0 5px 0;list-style-type:none;}
.attachment_product li a {background: url(../img/bullet.png) no-repeat 0 6px; display:inline-block;padding:0px 0 10px 12px;}
.attachment_product li a:hover{background: url(../img/bullet.png) no-repeat 0 -39px;} 
#more_info_block{ list-style:none; margin-top:20px;}
#more_info_block li a:hover{ text-decoration:none;}
#more_info_block5{ margin-top:20px;}
#idTab1 ul, #idTab1 ol, #idTab1 dl {margin-left: 20px;}

/* ************************************************************************************************
											ACCESSORIES
************************************************************************************************ */
.more_info_inner4 {margin:0px 0 0 0;padding:0 0px 0px 0px;}
#idTab4 {padding:20px 0 10px 0;}
#idTab4 li:first-child{ border:none; padding-top:0; margin-top:0;}
#idTab4 li {overflow:hidden;margin:20px 0 0 0;padding:20px 0 0px 0; display:block; border-width:1px 0 0 0; border-style: dotted;}
#idTab4 li .accessories_desc {width:630px;float:left;border-width:0 1px 0 0px;border-style: dotted; padding-right:20px;}
#idTab4 li .product_descr{ padding-top:10px; margin-bottom:0;}
#idTab4 li .accessories_desc a.accessory_image {width:80px;display:block;float:left;margin:0 20px 0 0;}
#idTab4 li .accessories_desc h5 {margin:0 0 0px 0;padding:0px 0 0 0;}
#idTab4 li .accessories_price {width:199px;float:right;padding:0px 0 0 20px;}
#idTab4 li .accessories_price span.price {display:block;margin:0 0 12px 0; font-size:17px;}
#idTab4 li .availability{ display:block;}

/* ************************************************************************************************
											PRODUCT COMMENTS
************************************************************************************************ */
#idTab5 {padding:20px 0px 0px 0px;}
#idTab5 .comment_criterions {overflow:hidden;}
#idTab5 .comment_criterions > div {float:left;padding:14px 20px 0 0;}
#idTab5 .comment_criterions > div > div {float:left;}
#idTab5 p{ padding-top:0;}
#idTab5 p.align_right {height:11px;padding:0;}
#idTab5 p.align_right a {width:11px;height:0;padding:11px 0 0 0;overflow:hidden;display:block;float:right;background:url(../img/icon/delete.gif) 0 0 no-repeat;}
#idTab5 p.comment_add {margin:0;padding:20px 0 0 0;}
#idTab5 fieldset p {margin:0;padding:10px 0 0 0;}
#idTab5 fieldset table.comment_rating {margin:17px 0 3px 0;}
#idTab5 fieldset table.comment_rating td {padding:0 10px 0 0;}
#idTab5 fieldset label {display:block;padding:0 0 3px 0;}
#idTab5 fieldset input#customer_name,#idTab5 fieldset input#comment_title {width:206px;height:15px;padding:3px;}
#idTab5 textarea#content {width:680px;min-width:300px;max-width:680px;height:100px;}
#idTab5 p.submit {padding:13px 0 0 0;}

/* ************************************************************************************************
										CUSTOMIZABLE PRODUCTS
************************************************************************************************ */
#customizationForm{ margin-bottom:10px;}
.customization_block {padding:0 0px 0px 0px;position:relative;z-index:9; margin-top:15px;}
.customization_block p.infoCustomizable { padding:0 0 1px 0px; margin:0; font-style:italic;}
.customization_block .customizationUploadBrowseDescription {padding:0 0 7px 0; display:block;}
.customization_block #uploadable_files .customization_block_input { height:25px; line-height:20px;}
.customization_block p img {margin:0 2px 0 0;}
.customization_block #uploadable_files { margin:6px 0 5px 0;}
.customization_block ul#text_fields{ padding-top:3px; margin:0;}
.customization_block ul li {overflow:hidden;}
.customization_block ul li label{padding:0 0 7px 0; display:block;}
.customization_block ul li > div + div {padding:10px 0 0 0;}
.customization_block ul li .customizationUploadBrowse img {margin:0 5px 0 0;}
textarea.customization_block_input {height:100px;}
.customization_block #customizedDatas {margin:0;padding:0px 0 0 0; float:left;}
.customizableProductsText{ margin-bottom:20px;}
.customization_block  .required{ padding:0; margin:0; float:left; margin-left:20px;}
.customization_block  .required sup{ vertical-align:middle; color:#F00}

/* pack products list */
#blockpack .list li .right_block{ float:left;}

/* ************************************************************************************************
										ZOOM PRODUCTS
************************************************************************************************ */
.cloud-zoom-lens {border: 4px solid #888;margin:-4px;background-color:#fff;	cursor:move;	}
#image-block .mousetrap:hover{ cursor:move;}
.cloud-zoom-title {font-family:Arial, Helvetica, sans-serif;position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;	font-weight:bold;font-size:10px;top:0px;}
.cloud-zoom-big {overflow:hidden;}
.cloud-zoom-loading {color:white!important;	background:#222!important;padding:3px!important;border:1px solid #000!important; display:none;}