/* ————— product-list.tpl ————— */

#product_list {position:relative;padding: 0 0 0 0;
margin: 0;}
#product_list .product_flags {margin:-4px 0 8px 0;}
#product_list .product_flags span {display:inline-block;float:left;margin:0 20px 0px 0;}
#product_list .product_flags span.new { color:#7cc666;}
#product_list .product_flags span.online_only { margin-right:0;}
#product_list .right_block span.on_sale,#product_list .right_block span.discount {display:block;margin:-1px 0 20px 0; color:#f00;}
.layout_list {padding:0px 0px 0 0; margin:0;}
.layout_list li.last_item,
.layout_list li:last-child{ padding-bottom:0;margin-bottom:0px;}
.layout_list li.first_item,
.layout_list li.first-child{ border:none!important;}
.layout_list li {padding:20px 0 0px 0;margin:0px 0 20px 0;border-bottom:0;border-top: 1px dotted #B2B2B2; width:100%; }
.layout_list li a.product_img_link {width:150px;float:left;}
.layout_list li .center_block {width:500px;float:left;padding:0px 0 0 20px;}
.layout_list li .center_block h3 {margin:0 0 10px 0}
.layout_list li .center_block .product_desc {margin:0;}
.layout_list li .right_block {width:170px;float:right;padding:0px 0 0 20px;height:165px; border-left: 1px dotted #B2B2B2; }
.layout_list li .right_block span.price {
	display:block;padding:0px 0 0 0;
	font-size: 22px; margin:0px 0 20px 0;
}
.layout_list li .right_block span.price span {
	font-size: 34px;
}
.layout_list li .right_block .compare {margin:0;padding:17px 0 18px 0;}
.layout_list li .right_block .compare input{ margin:4px 10px 0 0}
.layout_list li .right_block .exclusive {margin:0px 0px 10px 0;}
.layout_list li .right_block .button{margin:0px 0px 10px 0;}
.layout_list li .right_block span.exclusive{ margin-right:20px;}
.layout_list li:first-child{ border:none; padding-top:20px;}

/* grid view */
.layout_grid {padding:0px 0 0px 0; margin:0;}
.layout_grid li {padding:30px 0 0px 0; margin-top:20px;border-top: 1px dotted #B2B2B2; border-bottom:0;}
.layout_grid li.product_list_1,
.layout_grid li:nth-child(3n+1){ margin-left:0; clear:left;}
.layout_grid li .right_block{ text-align:center;}
.layout_grid li .right_block div.checker{ float:none;}
.layout_grid li.num-1,
.layout_grid li.num-2,
.layout_grid li.num-3,
.layout_grid li:nth-child(1),
.layout_grid li:nth-child(2),
.layout_grid li:nth-child(3){ border:none; margin-top:0;}
.layout_grid li a.product_img_link {display:block;text-align:center; border:1px solid #CCCCCC; padding:10px 0;}
.layout_grid li .center_block .product_desc, 
.layout_grid #product_list .right_block span.on_sale,
.layout_grid #product_list .right_block span.discount,
.layout_grid #product_list .product_flags {display:none;}
.layout_grid li h3 { margin:10px 0 10px 0; text-align:center;}
.layout_grid li span.price {display:inline-block;padding:7px 16px;font-size:21px;margin:0px 0 10px 0; background:#FCCA33; color:#fff;}
.layout_grid li .compare {margin:0;padding:5px 0 16px 0;}
.layout_grid li .compare input{ margin-right:7px;}
.layout_grid li .button{ margin-bottom:0px;}
.layout_grid li .exclusive{margin:0px 10px 0px 0;}