.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

input[type="text"], input[type="password"]{
    padding: 4px 6px;
    background-color: #FFF;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.login-form .btn:hover{
    outline: none;
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hidden{
    display: none;
}

.login-form .login-field {
    height: 41px;
    width: 100%;
    font-size: 17px;
    padding-bottom: 11px;
    padding-top: 11px;
    text-indent: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0px;
    border: 2px solid #BDC3C7;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
    margin-bottom: 0px;
}

.login-form::before {
    content: '';
    border-style: solid;
    border-width: 12px 12px 12px 0px;
    border-color: rgba(0, 0, 0, 0) #EDEFF1 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    height: 0px;
    position: absolute;
    left: -12px;
    top: 35px;
    width: 0px;
    -webkit-transform: rotate(360deg);
}

.login-screen .btn {
    font-size: 17px;
    color: #FFF;
    opacity: 1;
    padding: 10px 14px;
    border-radius: 0;
    background-image: none;
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.75);
}

.login-screen {
    width: 615px;
    margin: 0px auto;
    padding: 120px 0px;
}

.login-icon {
    width: 230px;
    margin-top: 30px;
}

.login-screen img {
    width: 100%;
}

.login-form {
    width: 360px;
    position: relative;
    background-color: #EDEFF1;
    padding: 24px 23px 20px;
    box-shadow: none;
    box-sizing: border-box;
}

.login-screen .login_block{
    display: block;
}

.msg {
    display: none;
    color: #FFF;
    font-size: 16px;
    padding: 10px;
    padding-left: 20px;
    background-color: #EE1C25;
    width: 103.3%;
    margin-left: -19.1px;
    margin-bottom: 10px;
}

.login-form .control-group {
    margin-bottom: 6px;
    position: relative;
}
.control-group {
    margin-bottom: 9px;
}

.login-form .login-field {
    background-color: #FFF;
    border-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
}

.login-form .login-field-icon {
    color: #BFC9CA;
    font-size: 16px;
    position: absolute;
    right: 13px;
    top: 14px;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

.com_ksenmart_billing .login-screen .btn {
    font-size: 17px;
}

.com_ksenmart_billing #content .btn, .popup .btn {
    color: #FFF;
    opacity: 1;
    padding: 10px 14px;
    border-radius: 0px;
    background-image: none;
    text-shadow: rgba(51, 51, 51, 0.74902) 0px 1px 1px;
}

.login-link {
    color: #BFC9CA;
    display: block;
    margin-top: 15px;
    text-align: center;
}

.login-screen #reg_form.login-form .cusel {
    width: 284px !important;
}

.content .list tbody tr > td.titleTableItem {
    cursor: pointer;
}
.btn.btn-other{
	height:auto;
}