/* TrackBar */
table.trackbar {width:100% !important; background:url(../images/b_bg_on.png) center left repeat-x;border-spacing: 0;}
table.trackbar .l {width:1%; text-align: right; background:repeat-x url(../images/b_bg_off.png) center left;}
table.trackbar .l div {position:relative; width:0; text-align: right; z-index:500; white-space:nowrap;}
table.trackbar .l div img {cursor:pointer;margin-top: -2px;margin-left: -2px;position: relative;left: 1px;width: auto\9;height: 12px;max-width:12px;width:12px;}
table.trackbar .l div span {display:none;color:#443d38;position:absolute;top:-14px;right:-8px;z-index:1000;font-size:12px;}
table.trackbar .l div span.limit {display:none;color:#666666;text-align:left; position:absolute; top:18px; left:-40px; z-index:100; font-size:13px;}
table.trackbar .r {width:1%; text-align: left; background:repeat-x url(../images/b_bg_off.png) center  right; cursor:default;}
table.trackbar .r div {position:relative; width:0; text-align: left; z-index:500; white-space:nowrap;}
table.trackbar .r div img {cursor:pointer;margin-top: -2px;margin-left: 2px;position: relative;right: 6px;width: auto\9;height: 12px;max-width:12px;width:12px;}
table.trackbar .r div span {display:none;color:#443d38;position:absolute;top:-14px;left:-8px;z-index:1000;font-size:12px;}
table.trackbar .r div span.limit {display:none;color:#666666;position:absolute;top:18px; right:-45px; text-align: right; z-index:100; font-size:13px;}
table.trackbar .c {font-size:1px; width:100%;}

.property .image_item img {
    float: left;
    width: 100%;
    width: 26px;
    height: 26px;
    display: block;
    border: 2px solid #EDEDF0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.filter .color {
    cursor: pointer;
    float: left;
    position: relative;
    z-index: 2;
}

.property li.item_img {
    padding: 3px 10px;
}

.property .nav li.active a {
    position: relative;
}

.property .nav li.item_img.active a,
.property .nav li.item_img a:hover{
    background-color: transparent;
}

.property li.item_img.active{
    border: none;
}

.property .image_item.active .color img{
    border: 2px solid #424242;
}

.property .nav li.active a label:before{
    position: absolute;
    content: "x";
    top: -5px;
    right: -10px;
}

.property .image_item .delta{
    cursor: pointer;
    color: #EDEDF0;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: -8px;
    left: 7px;
    font-size: 20px;
    z-index: 1;
    line-height: 20px;
    border: none;
}

.property .image_item.active .delta {
    color: #424242!important;
}

.filter .item{
    position: relative;
}

.filter .tracks input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    display: inline-block;
    height: auto;
    padding: 0;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 5px;
    width: 40px;
    text-align: center;
    font-weight: bold;
}

.filter .nav-header {
    color: #333;
    font-size: 12px;
}