.ksm-module-minicart {
    position: relative;
    margin-top: 15px;
    padding: 20px;
    float: right;
    font-size: 14px;
}
.ksm-module-minicart-icon {
    background: url("../images/cart.png") center no-repeat;
    width: 21px;
    height: 19px;
    cursor: pointer;
}
.ksm-module-minicart-block {
    position: relative;
}
.ksm-module-minicart-inner {
    display: none;
    position: absolute;
    right: -40px;
    padding: 25px;
    border: 1px solid #f2f2f2;
    border-top-width: 0;
    background: rgba(255, 255, 255, 0.95);
    min-width: 340px;
    top: 36px;
    z-index: 999;
}
.ksm-module-minicart .ksm-module-minicart-label {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}
.ksm-module-minicart .ksm-module-minicart-text {
    color: #333;
    font-size: 12px;
}
.ksm-module-minicart .ksm-module-minicart-text * {
    font-size: 12px;
}
.ksm-module-minicart a {
    text-decoration: none;
}
.ksm-module-minicart table {
    margin: 0 -5px;
}
.ksm-module-minicart table th {
    font-size: 12px;
    text-align: center;
}
.ksm-module-minicart table tr td:nth-child(2) {
    width: 30%;
}
.ksm-module-minicart table td img {
    max-width: 60px;
}
.ksm-module-minicart table td {
    padding: 0 5px;
}
.ksm-module-minicart .ksm-module-minicart-total {
    text-align: right;
}