<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="KSM_ALLSETTINGS_COMMON_COMPONENT_SETTINGS"
		label="KSM_ALLSETTINGS_COMMON_COMPONENT_SETTINGS_LABEL"
		description="KSM_ALLSETTINGS_COMMON_COMPONENT_SETTINGS_DESC">
		
		<field
			name="shop_name"
			type="text"
			default=""
			label="KSM_ALLSETTINGS_SHOPNAME_LABEL"
			description="KSM_ALLSETTINGS_SHOPNAME_DESC"
			labelclass="inputname"
			class="inputbox_205"
			/>
			
		<field
			name="shop_email"
			type="text"
			default=""
			label="KSM_ALLSETTINGS_SHOPEMAIL_LABEL"
			description="KSM_ALLSETTINGS_SHOPEMAIL_DESC"
			labelclass="inputname"
			class="inputbox_205"
			/>
            
		<field
			name="shop_phone"
			type="text"
			default=""
			label="KSM_ALLSETTINGS_SHOPPHONE_LABEL"
			description="KSM_ALLSETTINGS_SHOPPHONE_DESC"
			labelclass="inputname"
			class="inputbox_205"
		/>
		
		<field
			name="modules_styles"
			type="radio"
			default="1"
			label="KSM_ALLSETTINGS_MODULES_STYLES_LABEL"
			description="KSM_ALLSETTINGS_MODULES_STYLES_DESC"
			labelclass="inputname"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
        </field>		

	</fieldset>
	
	<fieldset name="KSM_ALLSETTINGS_COMMON_IMAGES_SETTINGS"
		label="KSM_ALLSETTINGS_COMMON_IMAGES_SETTINGS_LABEL"
		description="KSM_ALLSETTINGS_COMMON_IMAGES_SETTINGS_DESC">
		
		<field type="radio" name="watermark" default="0" label="KSM_ALLSETTINGS_USE_WATERMARK_LBL" labelclass="inputname" >
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="watermark_image" label="KSM_ALLSETTINGS_WATERMARK_IMAGE_LBL" type="media" directory="ksenmart" default="" labelclass="inputname" />
		
		<field type="list" name="watermark_type" default="0" class="sel" label="KSM_ALLSETTINGS_WATERMARK_TYPE_LBL" labelclass="inputname" >
			<option value="0">KSM_ALLSETTINGS_WATERMARK_DEFAULT_TYPE_LBL</option>
			<option value="1">KSM_ALLSETTINGS_WATERMARK_STRETCH_TYPE_LBL</option>
			<option value="2">KSM_ALLSETTINGS_WATERMARK_FILL_TYPE_LBL</option>
		</field>	

		<field type="list" name="watermark_valign" default="middle" class="sel" label="KSM_ALLSETTINGS_WATERMARK_VALIGN_LBL" labelclass="inputname" >
			<option value="top">KSM_ALLSETTINGS_WATERMARK_VALIGN_TOP</option>
			<option value="middle">KSM_ALLSETTINGS_WATERMARK_VALIGN_MIDDLE</option>
			<option value="bottom">KSM_ALLSETTINGS_WATERMARK_VALIGN_BOTTOM</option>
		</field>

		<field type="list" name="watermark_halign" default="center" class="sel" label="KSM_ALLSETTINGS_WATERMARK_HALIGN_LBL" labelclass="inputname" >
			<option value="left">KSM_ALLSETTINGS_WATERMARK_HALIGN_LEFT</option>
			<option value="center">KSM_ALLSETTINGS_WATERMARK_HALIGN_CENTER</option>
			<option value="right">KSM_ALLSETTINGS_WATERMARK_HALIGN_RIGHT</option>
		</field>	
		
		<field type="radio" name="displace" default="0" label="KSM_ALLSETTINGS_INSCRIBE_IMAGE_LBL" labelclass="inputname" >
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field type="list" name="valign" default="middle" class="sel" label="KSM_ALLSETTINGS_IMAGE_VALIGN_LBL" labelclass="inputname" >
			<option value="top">KSM_ALLSETTINGS_IMAGE_VALIGN_TOP</option>
			<option value="middle">KSM_ALLSETTINGS_IMAGE_VALIGN_MIDDLE</option>
			<option value="bottom">KSM_ALLSETTINGS_IMAGE_VALIGN_BOTTOM</option>
		</field>

		<field type="list" name="halign" default="center" class="sel" label="KSM_ALLSETTINGS_IMAGE_HALIGN_LBL" labelclass="inputname" >
			<option value="left">KSM_ALLSETTINGS_IMAGE_HALIGN_LEFT</option>
			<option value="center">KSM_ALLSETTINGS_IMAGE_HALIGN_CENTER</option>
			<option value="right">KSM_ALLSETTINGS_IMAGE_HALIGN_RIGHT</option>
		</field>	

		<field
			name="background_type"
			type="radio"
			default="file"
			label="KSM_ALLSETTINGS_IMAGE_BACKGROUND_TYPE_LABEL"
			description="KSM_ALLSETTINGS_IMAGE_BACKGROUND_TYPE_DESC"
			labelclass="inputname"
			>
			<option
				value="file">KSM_ALLSETTINGS_IMAGE_BACKGROUND_TYPE_FILE</option>
			<option
				value="color">KSM_ALLSETTINGS_IMAGE_BACKGROUND_TYPE_COLOR</option>
		</field>	

		<field name="background_file" label="KSM_ALLSETTINGS_IMAGE_BACKGROUND_FILE_LBL" type="media" directory="ksenmart" default="" labelclass="inputname" />		
		
		<field
			name="background_color"
			type="text"
			default="ffffff"
			label="KSM_ALLSETTINGS_IMAGE_BACKGROUND_COLOR_LBL"
			description="KSM_ALLSETTINGS_IMAGE_BACKGROUND_COLOR_DESC"
			labelclass="inputname"
			class="inputbox_205"
			/>		
		
	</fieldset>		
		
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_ksenmart"
			section="component" />
	</fieldset>

</config>