.account_login_menu li {
    font-size: 16px;
    font-weight: 700;
    color: #1d86ba;
}

.account_login_menu li a{
    color: #1d86ba;
    text-decoration: underline;
}

.account_login_menu li a:hover,
.account_login_menu li a:focus,
.account_login_menu li a:active{
    text-decoration: none;
}

#login_form .login_block,
#reg_form .reg_block {
    display: none;
    z-index: 1901;
    width: 300px;
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -150px;
    background-color: #fff;
    box-shadow: 0px 0 20px #CCC;
    padding: 20px;
}

.btn,
.btn:visited,
.btn:link{
    display: block;
    padding: 11px 10px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #F89E00;
    font-family: "Trebuchet MS";
}

.btn:hover,
.btn.btn-other:hover{
    background-color: #1D86BA;
}

.save {
    background-color: #B9CE01;
}

.save:hover {
    background-color: #A10048;
}

.form .inputbox{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.form .row:last-child {
    margin-bottom: 0;
}

a.close,
a.close:link,
a.close:visited{
    color: #000;
    background-color: transparent;
    text-decoration: underline;
}

a.close:hover{
    text-decoration: none;
}

.close{
    background-color: transparent;
}

.account_info_block > .item{
    color: #fff;
    font-size: 15px;
    float: left;
}

.account_info_block .item > *{
    display: block;
    margin: 0px 10px;
}

.account_info_block a,
.account_info_block a:link,
.account_info_block a:visited {
    text-decoration: underline;
}

.account_info_block a:hover{
    text-decoration: none;
}

.msg {
    display: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    padding-left: 20px;
    background-color: #EE1C25;
    width: 103.3%;
    margin-left: -19.1px;
    margin-bottom: 10px;
}

.popup{
    display: none;
    z-index: 1901;
    width: 95%;
    max-width: 1200px;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -600px;
    background-color: #fff;
    box-shadow: 0px 0 20px #CCC;
}

@media all and (max-width:1260px) {
    width: 1000px;
    margin-left: -500px;
}

.popup > header{
    padding: 0px;
    background-color: #525252;
}

.popup > .body{
    padding: 20px;
}

.popup > header .title{
    float: left;
    font-size: 18px;
    color: #fff;
    padding: 10px;
}

.popup > header .buttonPannel{
    float: right;
    width: 190px;
}

.popup > header .buttonPannel .save{
    display: block;
    float: right;
    font-size: 16px;
}

.popup > header .buttonPannel .close{
    display: block;
    float: right;
    background-color: #EE1C25;
    font-size: 16px;
}

.popup > header .buttonPannel .close:hover{
    cursor: pointer;
    text-decoration: underline;
}

.loader {
    text-align: center;
}

.user_menu {
    float: left;
    width: 25%;
}

.user_menu .title{
    font-size: 18px;
    margin-bottom: 10px;
}

.user_menu ul li,
.user_menu ul li a{
    display: block;
}

.account_info_block a.user_profile-l,
.account_info_block a.settings-l {
    border-bottom: 1px dashed #1D86BA;
    text-decoration: none;
}

.account_info_block a.user_profile-l:hover,
.account_info_block a.settings-l:hover {
    border-bottom: none;
}

.user_menu ul li {
    border-bottom: 1px solid #fff;
}

.user_menu ul li:last-child {
    border-bottom: 1px solid transparent;
}

.user_menu ul li a {
    padding: 0px 10px;
    font-size: 16px;
    background-color: #525252;
    color: #fff;
}

.user_menu ul li a:hover {
    text-decoration: none;
    background-color: #777575;
}

.popup > .body > .content{
    float: left;
    width: 72%;
    padding: 0;
    margin-left: 20px;
    box-sizing: border-box;
}

.content .list{
    width: 100%;
}

.content .list thead{
    background-color: #525252;
    color: #fff;
}

.content .list thead th,
.content .list tbody td{
    padding: 10px 5px;
}

.content .list tbody tr{
    color: #000;
    cursor: pointer;
    font-size: 13px;
    border-bottom: 1px solid #fff;
}

.content .list tbody td{
    vertical-align: middle;
    text-align: center;
}

.content .list tbody td.subject {
    text-align: left;
}

.content .list tbody td{
    padding: 10px 5px;
}

.popup.ticket{
    z-index: 1906;
    width: 800px;
    margin-left: -400px;
    left: 50%;
}

.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 1900;
}

.overlay.ticket {
    z-index: 1905;
}

/*TMP стили бутстрапа*/

dt {
    font-weight: bold;
}

dt, dd {
    line-height: 20px;
}

dd {
    margin-left: 10px;
}

dl {
    margin-bottom: 20px;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 180px;
}

/*TMP стили бутстрапа*/

.popup.ticket dl{
    font-size: 16px;
}

.popup.ticket .messages{
    font-size: 15px;
    /*background-color: #F3F3F3;
    border: 1px solid #dfdfdf;*/
    padding: 10px;
    height: 270px;
    overflow: auto;
    border-top: 1px solid #dfdfdf;
}

.popup.ticket .messages .support-msg > div:first-child,
.popup.ticket .messages .support-msg-admin > div:first-child{
    float: left !important;
    margin: 0 !important;
    margin-right: 15px !important;
    background-color: #fff;
}

.popup.ticket .messages .support-msg,
.popup.ticket .messages .support-msg-admin{
    color: #000;
    padding: 5px;
    margin-bottom: 10px;
    clear: both;
}

.popup.ticket .messages .support-msg:before,
.popup.ticket .messages .support-msg:after,
.popup.ticket .messages .support-msg-admin:before,
.popup.ticket .messages .support-msg-admin:after{
    display: table;
    line-height: 0;
    content: "";
}

.popup.ticket .messages .support-msg-admin:after,
.popup.ticket .messages .support-msg:after{
    clear: both;
}

.popup.ticket .messages .support-msg{
    background-color: #ededed;
}

.popup.ticket .messages .support-msg-admin{
    background-color: #F1F2E2;
}

.popup.ticket .messages .support-msg .support-from,
.popup.ticket .messages .support-msg-admin .support-from{
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 5px;
}

.popup.ticket .messages .support-msg .support-body,
.popup.ticket .messages .support-msg-admin .support-body{
    padding-top: 5px;    
}

.popup.ticket .send_form {
    margin-top: 20px;
    border-top: 1px solid #dfdfdf;
    padding-top: 10px;
}

.popup.ticket .send_form > .row{
    margin-bottom: 10px;
}

.popup textarea{
    font-size: 15px;
    padding: 5px;
    min-height: 100px;
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-send {
    background-color: #B9CE01;
}

.btn-send:hover{
    background-color: #1D86BA;
}

.popup .body .notice {
    display: none;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    background-color: #EE1C25;
}

.loading_block{
    display: none;
    position: absolute;
    background-color: rgba(231, 231, 231, 0.7);
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.btn-add {
    padding-left: 30px !important;
    background: url(../images/icons/add.png) 9px 14px no-repeat;
}

.popup .body .content > .row{
    margin-bottom: 10px;
}

.support-msg-wrapper {
    float: left;
    width: 85%;    
}

.overlay.ticket_create{
    z-index: 1907;
}

.popup.ticket_create{
    z-index: 1908;
}

.reload {
    float: left;
}

.btn-reload {
    background-color: #1D86BA;
}

.btn-reload:hover {
    background-color: #1D86BA;
}

.popup.ticket_create .body > .row{
    margin-bottom: 10px;
}

.form .inputname{
    float: left;
    width: 180px;
    margin: 3px 10px 0 0;
    font-size: 15px;
    color: #4c4c4c;
}

.popup.ticket_create .body .form select.sel{
    width: 455px;
}

.inputname.intn_b {
    margin-bottom: 10px;
}

.popup.profile .cpanel {
    width: 75%;
    float: left;
    padding-left: 0px;
}

.cpanel .item {
    padding: 10px;
    float: left;
    margin: 0 1px 1px 0;
    background-color: #B9CE01;
    width: 170px;
    height: 160px;
    position: relative;
    color: white;
    text-decoration: none;
    display: block;
    font-family: "Trebuchet MS";
    -webki-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.cpanel .item.double {
    width: 341px;
}

.cpanel .item .avatar{
    float: none;
    width: 100%;
}

.cpanel .item > .wrapp {
    height: 125px;
}

.cpanel .item:hover {
    cursor: pointer;
    background-color: #A10048;
}

.cpanel .item a {
    color: #fff;
    text-decoration: underline;
}

.cpanel .item a:hover {
    text-decoration: none;
}

.cpanel .item.double .icon_block{
    width: 100px;
    float: left;
}

.cpanel .item .icon_block a img{
    display: block;
    padding: 0px;
}

.cpanel .item .icon_block.avatar a img{
    border: 1px solid #fff;
    background-color: #fff;
}

.cpanel .item .icon_block a{
    display: block;
    font-size: 16px;
    text-align: center;
}

.cpanel .item.double .content{
    width: 64%;
    float: left;
    margin-left: 15px;
}

.cpanel .item .content{
    margin-left: 15px;
}

.cpanel .item .content > ul{
    list-style: none;
    font-size: 12px;
}

.cpanel .item .content > .title{
    font-size: 22px;
    line-height: 100%;
    margin-bottom: 10px;
}

.cpanel .item .content small {
    font-size: 11px;
}

.cpanel .item .wrapp.full_height {
    margin-top: 10px;
}

.cpanel .item .wrapp.full_height .content > .title {
    font-size: 19px;
    margin-top: 10px;
}

.cpanel .item .wrapp.full_height .content{
    margin-left: 0;
    text-align: center;
}

.cusel-scroll-pane,
.jScrollPaneContainer {
    height: auto !important;
    max-height: 250px !important;
    overflow: auto !important;
}

.form .inputbox_470{
    width: 470px;
    padding: 5px 5px 5px 9px;
    color: #4c4c4c;
    font-size: 15px;
    height: 20px;
    font-family: "Trebuchet MS";
    background: url(../images/icons/inputbox.png) top left no-repeat;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #F3F3F3;
    margin: 0 20px 0 0;
}

.overlay.tickets,
.overlay.archived_tickets {
    z-index: 1903;
}

.popup.tickets,
.popup.archived_tickets {
    z-index: 1904;
}

.cpanel .item.getAccountActivity > .wrapp{
    margin-top: 25px;
    height: 100px;
}

.overlay.credits{
    z-index: 1910;
}

.popup.credits{
    z-index: 1911;
}

.overlay.domains{
    z-index: 1912;
}

.popup.domains{
    z-index: 1913;
}

table.cat {
    width: 100%;
}

.list {
    overflow-y: auto;
}

.overlay.vhosts{
    z-index: 1914;
}

.popup.vhosts{
    z-index: 1915;
}

.btn-group > *{
    float: left;
    margin-left: 10px;
}

.btn-group > *:first-child{
    margin-left: 0px;
}

.content .list tbody tr > td{
    cursor: default;
}

.content .list tbody tr > td:first-child {
    border-right: 1px solid #C9C9C9;
    border-left: 11px solid #E9EBD1;
    background-color: #F1F2E2;
}

.content .list tbody tr:hover > td:first-child {
    border-left-color: rgba(0, 141, 211, 0.74);
    background-color: #EBECD9;
}

.content .list tbody tr.active > td:first-child {
    border-left-color: #B9CE01;
}

.content .list tbody tr.active > td {
    background-color: #EBECD9;
}

.btn.toggleLink {
    /*display: none;*/
}

.btn.toggleLink.disable,
.btn.singleLink.disable,
.btn-dsbl{
    background-color: #8F8F8F !important;
    cursor: default !important;
    color: #BBB !important;
    opacity: 0.3;
}

.btn.toggleLink.disable:hover,
.btn.singleLink.disable:hover,
.btn-dsbl:hover{
    background-color: #8F8F8F !important;
}

.btn.btn-other {
    background-color: #B9CE01;
}

.btn.btn-remove {
    background-color: #EE1C25;
}

.btn.btn-remove:hover {
    background-color: #EE5158;
}

.popup .list tbody tr > td.titleTableItem {
    cursor: pointer;
}

.popup .list tbody tr > td.titleTableItem:hover{
    background-color: #E9EBCE;
}

.popup .list tbody tr > td.titleTableItem + td{
    border-left: 1px solid #C9C9C9;
}

.popup .list tbody tr > td.titleTableItem .subBlock{
    visibility: hidden;
}

.popup .list tbody tr > td.titleTableItem:hover .subBlock{
    visibility: visible;
}

.reg_block select {
    width: 270px;
}

.reg_block .jScrollPaneContainer,
.reg_block .cusel-scroll-pane{
    width: 296px;
}

.content .list tbody tr.new > td:first-child{
    border-left-color: #A10048;
}

.hiddenInput {
    display: none;
}

.popup.new_credit,
.popup.new_vhost,
.popup.new_domain,
.popup.qiwi_pay,
.popup.settings,
.popup.avatar_load,
.popup.rerun_domain,
.popup.domain_edit,
.popup.renew_domain,
.popup.domaincontact_create{
    width: 550px;
    margin-left: -250px;
    font-size: 16px;
}

.overlay.new_credit{
    z-index: 1912;
}

.popup.new_credit{
    z-index: 1913;
}

.popup.domaincontact_create {
    z-index: 1917;
}

.overlay.domaincontact_create {
    z-index: 1916;
}

.popup .body .cusel,
.popup .body select,
.popup .body input,
.popup .body input{
    margin-right: 0px;
}

.popup .body select{
    width: 290px;
}

.popup .body input[type="text"],
.popup .body input[type="password"],
.popup .body input[type="text"],
.popup .body input[type="url"],
.popup .body input[type="email"],
.popup .body input[type="date"]{
    width: 320px;
}

.popup.domaincontact_create .body input[type="text"],
.popup.domaincontact_create .body input[type="password"],
.popup.domaincontact_create .body input[type="text"],
.popup.domaincontact_create .body input[type="url"],
.popup.domaincontact_create .body input[type="email"],
.popup.domaincontact_create .body input[type="date"]{
    width: 300px;
}


.popup .body input.prepend{
    width: 280px;
}

.popup .body span.prepend{
    font-size: 16px;
    margin-left: 10px;
    line-height: 30px;
}

.overlay.new_domain{
    z-index: 1914;
}

.popup.new_domain{
    z-index: 1915;
}

.overlay.new_vhost{
    z-index: 1916;
}

.popup.new_vhost{
    z-index: 1917;
}

#qiwi_form {
    display: none;
}

.form .desc {
    font-size: 15px;
    margin-bottom: 20px;
}

.overlay.qiwi_pay{
    z-index: 1912;
}

.popup.qiwi_pay{
    z-index: 1913;
}

.qiwi_pay #qiwi_form {
    display: block;
}

table.cat td.state-success {
    color: #7cc300;
}

table.cat td.state-no_pay {
    color: #EE1C25;
}

table.cat td.state-in_process {
    color: #1D86BA;
}

.panel > div:first-child{
    width: 50%;
}

.overlay.settings{
    z-index: 1902;
}

.popup.settings{
    z-index: 1903;
}

div.settings-l:hover a.settings-l{
    text-decoration: none;
}

#avatar_preview {
    margin-bottom: 15px;
}

.popup .body > .notice{
    margin-bottom: 15px;
    margin-left: -20px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

.btn-group .pull-right{
    float: right; 
}

.btn-group .pull-left{
    float: left; 
}

[id ^= step_page_]{
    display: none;
}

#step_page_1 {
    display: block;
}

.popup .table_block tbody tr.error td {
    background-color: #FFE0DF;
}

.popup .table_block tbody tr.error td:first-child{
    border-left: 11px solid #EEB8B6;
}

.popup .table_block tbody tr.error:hover td {
    background-color: #F0D2D1;
}

.popup .table_block tbody tr.success td {
    background-color: #DEFEE0;
}

.popup .table_block tbody tr.success td:first-child{
    border-left: 11px solid #96D69A;
}

.popup .table_block tbody tr.success:hover td {
    background-color: #CBF5CE;
}

#new_domain_form #step_page_3{
    font-size: 14px;
    text-align: center;
}

.l-promo{
    text-decoration: none;
    border-bottom: 1px dashed #025A8D;
}

.l-promo:hover{
    text-decoration: none;
    border-bottom: 0px dashed #025A8D;
}

.popup .body .inputbox_235.prepend{
    width: 235px;
}

.overlay.rerun_domain,
.overlay.renew_domain{
    z-index: 1914;
}

.popup.rerun_domain,
.popup.renew_domain{
    z-index: 1915;
}

.overlay.domain_edit{
    z-index: 1914;
}

.popup.domain_edit{
    z-index: 1915;
}

.popup .list thead tr th{
    cursor: pointer;
}

.preview-pane {
    display: none;
}

.jcrop-holder .preview-pane {
    display: block;
    position: absolute;
    z-index: 2000;
    right: -100px;
}

.avatar_preview {
    width: 300px;
    margin-bottom: 15px;
}

.avatar_preview img{
	width: 100%;
}

.preview-pane .preview-container {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

#avatar_load .spinner {
    margin-bottom: 15px
}

#avatar_load .row-fluid{
    margin-bottom: 15px;
}

.overlay.avatar_load {
    z-index: 1910;
}

.popup.avatar_load {
    z-index: 1911;
}

.popup.domaincontact_create .cusel,
#reg_form .cusel {
    width: 270px !important;
}

.login-link a{
    font-size: 14px;
    border-bottom: 1px dashed #1D86BA;
}

.login-link a:hover{
    text-decoration: none;
    border-bottom: 0px dashed #1D86BA;
}