#minicart.fixed {
    top: 0px;
    left: 0;
    position: fixed;
    z-index: 10000;
    padding: 0;
    width: 100%;
}

#minicart.fixed .minicart_links > ul,
#minicart.fixed .minicart_content{
    border: 2px solid #E7E7E7;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    background-color: #F6F6F6;
}

#minicart.fixed .minicart_content{
    border-width: 0 0 2px 0;
    border-radius: 0px;
}

#minicart.active,
#minicart.fixed:hover .minicart_content,
#minicart.fixed.active .minicart_content,
#minicart.fixed:hover .minicart_links > ul,
#minicart.fixed.active .minicart_links > ul,
#minicart.fixed .minicart_links > ul:hover{
    border-color: #BBD057;
}

#minicart.fixed .minicart_content {
    display: none;
    max-height: 500px;
    overflow-x: auto
}

#minicart.fixed .minicart_links{
    text-align: center;
}

#minicart.fixed .minicart_links > ul{
    padding: 5px 10px;
    display: inline-block;
}

.active#minicart.fixed .minicart_links > ul {
    padding: 10px;
    padding-top: 4px;
    display: inline;
}

#minicart.fixed .minicart_content .image{
    width: 5%;
    text-align: center;
}

#minicart.fixed .minicart_content .remove,
#minicart.fixed .minicart_content .title{
    vertical-align: middle;
}

#minicart.fixed .minicart_content .remove{
    width: 3%;
}

.normal_link{
    text-decoration: underline;
}

.normal_link:hover{
    text-decoration: none;
}