.ksenmart-panelhelper {
   float: left;
   width:100%;
}
.ksenmart-panelhelper h4 {
   margin: 0 0 10px;
}
.ksenmart-panelhelper .question {
   float: left;
   width:100%;
   margin: 0 0 20px;
}
.ksenmart-panelhelper .question a {
   font-size:17px;
   margin: 0 0 7px;
   float: left;
   width:100%;
   line-height: 20px;
   cursor:pointer;
}
.ksenmart-panelhelper .answer {
   float: left;
   width:100%;
   margin: 10px 0 20px;
   display:none;
}
.ksenmart-panelhelper .answer h4 {
   font-size:14px;
}
.ksenmart-panelhelper .answer p {
   margin: 0 0 10px;
}