.discount .login-form {
    clear:both;
    padding-top:15px;
}

.discount .login-form label {
	font-size: 15px;
	font-weight: bold;
	color: #313535;
	margin: 0 0 3px;
}

.discount .span6.login-form{
    display: none;margin: 0px auto;float: none;
}