.ksenmart-mainmenu {
   float:left;
   width:100%;
   margin: 0 0 10px;
}
.ksenmart-mainmenu #main-menu ul li {
   list-style: none;
   float: left;
}
.ksenmart-mainmenu #main-menu ul li a {
   float: left;
   padding: 10px 20px 10px 15px;
   min-width: 125px;
   font-size:16px;
   margin: 0 1px 0 0;
   background: #EDEDED;
   text-decoration: none;
   color: #404040;
   height: 20px;
   line-height: 17px;
}
.ksenmart-mainmenu #main-menu ul li.icon{
   background: #EDEDED;
   margin:0px;
}
.ksenmart-mainmenu #main-menu ul li.icon a {
   float: left;
   padding: 10px;
   width: 20px;
   min-width: 20px;
   height:20px;
   text-decoration: none;
}
.ksenmart-mainmenu #main-menu ul li.icon a span{
   width: 20px;
   display:block;
   height:20px;
}
.ksenmart-mainmenu #main-menu .ksenmart-mainmenu-home a{
	width: 22px!important;
	padding: 10px 9px!important;
}
.ksenmart-mainmenu #main-menu .ksenmart-mainmenu-home a span{
	width: 22px!important;
	background: url(i/home.png) 0 0 no-repeat!important;
}
.ksenmart-mainmenu #main-menu .ksenmart-mainmenu-home a:hover span,.ksenmart-mainmenu #main-menu .ksenmart-mainmenu-home a.active span{
	background:#1d86ba url(i/home.png) 0 -20px no-repeat!important;
}
.ksenmart-mainmenu #main-menu ul li a:hover, 
.ksenmart-mainmenu #main-menu ul li a.active {
   background-color: #1D86BA;
   color:white;
}
.ksenmart-mainmenu #main-menu a {
   padding: 10px;
   float: right;
   background-color: #EDEDED;
}
.ksenmart-mainmenu #main-menu a:hover {
   background-color: #1D86BA;
}

.ksenmart-mainmenu #cat-menu > ul,
.ksenmart-mainmenu #main-menu > ul{
    float: left;
}

.ksenmart-mainmenu #main-menu .ksenmart-mainmenu-settings a,
.ksenmart-mainmenu #cat-menu .ksenmart-mainmenu-settings a{
	width:15px;
	min-width:15px;
}

.ksenmart-mainmenu #cat-menu .ksenmart-mainmenu-settings a span,
.ksenmart-mainmenu #main-menu .ksenmart-mainmenu-settings a span{
	background: url(i/settings.png) 0 0 no-repeat!important;
	width:20px;
	height:20px;
	display:block;
}

.ksenmart-mainmenu #cat-menu .ksenmart-mainmenu-settings a span{
	background: url(i/settings.png) 0 -20px no-repeat!important;
}

.ksenmart-mainmenu #main-menu .ksenmart-mainmenu-settings a:hover span,.ksenmart-mainmenu #main-menu .ksenmart-mainmenu-settings a.active span{
	background:#1d86ba url(i/settings.png) 0 -20px no-repeat!important;
}

.ksenmart-mainmenu #main-menu .ksenmart-mainmenu-updater{
	padding: 10px 20px 10px 45px;
	font-size: 16px;
	font-weight:bold;
	margin: 0 1px 0 0;
	color: #404040;
	height: 20px;
	line-height: 17px;	
	background:url(i/update.png) 15px 45% no-repeat!important;
}

.ksenmart-mainmenu #main-menu .ksenmart-mainmenu-updater a{
	background:none;
	text-decoration:underline;
	padding:0px;
	float:none;
	color:#1d86ba;
}

.ksenmart-mainmenu #main-menu .ksenmart-mainmenu-updater a:hover{
	background:none;
	color:#1d86ba;
}
 
.ksenmart-mainmenu #cat-menu {
   float:left;
   width:100%;
}
.ksenmart-mainmenu #cat-menu ul li {
   list-style: none;
    overflow: hidden;
float: left;
}
.ksenmart-mainmenu #cat-menu ul li a {
   float: left;
   padding: 11px 20px 11px 15px;
   min-width: 125px;
   font-size:13px;
   margin: 0 1px 0 0;
   background: #B9CE01;
   text-decoration: none;
   color:white;
   height:18px;
}
.ksenmart-mainmenu #cat-menu ul li.ksenmart-mainmenu-back a{
	min-width:0px!important;
	width:40px!important;
	height:40px!important;
	padding:0!important;
	background: #B9CE01 url(i/back.png) 50% 50% no-repeat;
}
.ksenmart-mainmenu #cat-menu ul li a:hover, 
.ksenmart-mainmenu #cat-menu ul li a.active {
   background-color: #1D86BA;
}

.ksenmart-mainmenu #cat-menu  .ksenmart-mainmenu-settings{
	/*display: block;
    float: right;
    margin-right: -20px;
	position: absolute;
	width: 20px;
	height: 20px;
	right: 40px;
	margin-top:-30px;
	background: url(i/settings.png) 0 0 no-repeat!important;*/
}


.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 1900;
}

.popup{
    display: none;
    z-index: 1901;
    width: 95%;
    max-width: 1200px;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -600px;
    background-color: #fff;
    box-shadow: 0px 0 20px #CCC;
}

.popup > header{
    padding: 0px;
    background-color: #525252;
}

.popup > .body{
    padding: 20px;
}

.popup > header .title{
    float: left;
    font-size: 18px;
    color: #fff;
    padding: 10px;
}

.popup > header .buttonPannel{
    float: right;
    width: 190px;
}

.popup > header .buttonPannel .save{
    display: block;
    float: right;
    font-size: 16px;
}

.popup > header .buttonPannel .close{
    display: block;
    float: right;
    background-color: #EE1C25;
    font-size: 16px;
}

.popup > header .buttonPannel .close:hover{
    cursor: pointer;
    text-decoration: underline;
}

.popup.license {
    width: 500px;
    margin-left: -250px;
}

.popup.license table{
    width: 100%;
    font-size: 14px;
}

.popup.license tbody td:first-child{
    width: 40%;
}

.popup.license tbody td{
    padding: 5px;
}