.km-inputbox {float: left;border: none;background: #F2F2F2;font-size: 14px;color: #717780;font-family: "Trebuchet MS";padding: 6px 20px 6px 10px;box-shadow: inset 0px 2px 2px #BBB;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;behavior: url(css/PIE.htc);width: 160px;position: relative;}
.km-button {background: #484f5f;color: #FAFAFA;padding: 5px;text-transform: uppercase;font-weight: normal;font-size: 14px;}

/*-------------------------------------------------------------------------------------------------------*/

.km-auth,.km-logout {float: left;width: 155px;}
.km-auth-show-form,.km-logout a {float: left;padding: 5px 0 5px 40px;background: url(i/login.png) left center no-repeat;font-size: 14px;color: #717780;text-decoration: none;text-transform: uppercase;}
.km-auth-show-form:hover,.km-logout a:hover {text-decoration: underline;}
.km-auth-fb {display:inline-block;width:30px;height:30px;cursor: pointer;background: url(i/fb.png) 0 0 no-repeat;vertical-align:middle;}
.km-auth-vk {display:inline-block;width:30px;height:30px;cursor: pointer;background: url(i/vk.png) 0 0 no-repeat;vertical-align:middle;}
.km-auth-od {display:inline-block;width:30px;height:30px;cursor: pointer;background: url(i/od.png) 0 0 no-repeat;vertical-align:middle;}
#km-popup-auth ul {list-style:none;float:right;}
#km-popup-auth ul li {display:inline-block;margin-left:10px;}

/*-------------------------------------------------------------------------------------------------------*/

/*.km-message {font-size:16px;font-weight:bold;-moz-border-radius: 5px;-webkit-border-radius: 5px;	border-radius: 5px;width: 308px;position: fixed;display: none;left: 50%;top: 50% !important;margin: -65px 0 0 -174px;color: #39362D;background: rgba(240, 231, 198, 0.8);z-index: 650000;vertical-align: baseline;box-shadow: 0 0 3px rgba(10, 10, 10, 0.7);	-moz-box-shadow: 0 0 3px rgba(10, 10, 10, 0.7);	-webkit-box-shadow: 0 0 3px rgba(10, 10, 10, 0.7);text-align: center;color: #39362D;}*/
.km-message-bottom{margin-top:10px;}

/*-------------------------------------------------------------------------------------------------------*/

.km-popup {position: absolute;	z-index: 20000;display:none;padding: 10px;background: url(i/tr.png) repeat;width:505px;}
.km-popup-inner {background:#fff;}
.km-popup-inner h3 {background: #484f5f;color: #FAFAFA;padding: 10px;text-transform: uppercase;font-weight: normal;font-size: 17px;}
.km-popup-inner .close {float: right;width: 20px;height: 20px;background: url(i/close.png) center no-repeat;cursor: pointer;display: block;}
.km-popup-inner-content {padding:10px;}
.km-popup-inner-content .row {margin-top:10px;float:left;width:100%;clear: both;}
.km-popup-inner-content .row label {float:left;width:200px;color:#0A0A0B;font-size:15px;line-height:30px;}
.km-popup-inner-content .row input.km-inputbox {float:left;width:250px;}
.km-popup-inner-content .row input.km-button {margin-left:200px;}

/*-------------------------------------------------------------------------------------------------------*/

#km-iframe-overlay {position: fixed;width:100%;height:100%;background: url(i/dark.png) repeat;z-index: 10;top:0px;left:0px;}
#km-iframe-window {position: fixed;top: 50%;left: 50%;padding: 20px;	background: white;z-index: 1000;box-shadow: 0 0 50px #333;}
.km-iframe-close {position: absolute;width: 20px;height: 20px;background: url(i/close.png) center no-repeat;top: 3px;right: 3px;cursor: pointer;display: block;}

.quant input[name="count"]{
    text-align: center;
}

#myModalLabel {
    margin: 0;
}

.search_page .categories{
    margin-bottom: 15px;
}

.search_page .categories .type {
    font-size: 11px;
    margin-top: -5px;
}

#products_gallery .pagination .thumb a > img:hover,
#products_gallery .pagination .thumb.current a > img {
    opacity: 0.2;
}

.layout_icon {
    margin-left: 5px;
}

.layout_icon a{
    color: transparent;
    border: 5px solid transparent !important;
}

.layout_icon.active a,
.layout_icon:hover a {
    color: #BDBDBD;
    border: 5px solid !important;
}

.layout_icon.active:hover a{
    color: #AFAFAF;
}

.layout_block.layout_list_ext ul.thumbnails > li,
.layout_block.layout_list ul.thumbnails > li{
    width: 100%;
    margin-left: 0px;
}

.layout_block.layout_list_ext ul.thumbnails > li .img,
.layout_block.layout_list ul.thumbnails > li .img{
    float: none;
    display: table-cell;
    vertical-align: top;
    width: 25%;
    border-bottom: 0px solid transparent;
    border-bottom: 1px solid #DDD;
    -webkit-box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 1px 0px 3px rgba(0,0,0,0.055);
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.055);
}

.layout_block.layout_list ul.thumbnails > li .img {
    width: 12%;
}

.layout_block.layout_list_ext ul.thumbnails > li .caption,
.layout_block.layout_list ul.thumbnails > li .caption{
    width: 75%;
    float: none;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    background-color: #EDEDF0;
    vertical-align: middle;
    position: relative;
    -webkit-box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: -1px 0px 3px rgba(0,0,0,0.055);
    box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.055);
}

.layout_block.layout_list ul.thumbnails > li .caption{
    padding: 5px;
}

.layout_block.layout_list_ext ul.thumbnails > li:hover .caption,
.layout_block.layout_list ul.thumbnails > li:hover .caption{
    background-color: #BBD057;
}

.layout_block.layout_list_ext ul.thumbnails > li .caption .bottom_wrapp,
.layout_block.layout_list ul.thumbnails > li .caption .bottom_wrapp{
    margin: 0;
}

.catalog ul.thumbnails > li .caption .bottom_wrapp .price{
    text-align: center;
    font-style: italic;
    font-size: 25px;
    margin-bottom: 10px;
}

.layout_block.layout_list_ext ul.thumbnails > li .caption .bottom_wrapp .price{
    font-size: 30px;
}

.layout_block.layout_list ul.thumbnails > li .caption .bottom_wrapp .price{
    font-size: 21px;
    margin-bottom: 0px;
}

.layout_block.layout_list_ext ul.thumbnails > li .caption .bottom_wrapp .price .normal{
    display: block;
    margin-top: 5px;
}

.layout_block.layout_list ul.thumbnails > li .caption .bottom_wrapp .price .normal{
    display: block;
}

.layout_block.layout_list_ext ul.thumbnails > li .brand,
.layout_block.layout_list ul.thumbnails > li .for_brand,
.layout_block.layout_list_ext ul.thumbnails > li .rating > .title,
.layout_block.layout_list_ext ul.thumbnails > li .caption .bottom_wrapp .price .title,
.layout_block.layout_list ul.thumbnails > li .rating > .title,
.layout_block.layout_list ul.thumbnails > li .caption .bottom_wrapp .price .title{
    font-size: 14px;
}

.layout_block.layout_list_ext ul.thumbnails > li .brand{
    visibility: visible;
    padding-top: 4px;
    padding-left: 15px;
}

.layout_block.layout_list ul.thumbnails > li .brand,
.layout_block.layout_grid ul.thumbnails > li .brand,
.layout_block.layout_list_ext ul.thumbnails > li .for_brand{
    visibility: hidden;
}

.layout_block.layout_list ul.thumbnails > li .for_brand{
    color: #999;
}

.layout_block.layout_list_ext ul.thumbnails > li .name,
.layout_block.layout_list ul.thumbnails > li .name{
    margin: 0;
    padding: 0;
    width: 55%;
    height: 100%;
    font-size: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    float: none;
    padding: 15px;
    padding-top: 25px;
    position: relative;
    vertical-align: top;
}

.layout_block.layout_list ul.thumbnails > li .name{
    padding: 10px;
    font-size: 15px;
}

.layout_block.layout_list_ext ul.thumbnails > li .article,
.layout_block.layout_list ul.thumbnails > li .article{
    float: none;
    color: #999;
    margin: 0;
    padding: 0;
    font-style: italic;
    width: auto;
    display: block;
    position: absolute;
    top: 2px;
    right: 10px;
}

.layout_block.layout_list ul.thumbnails > li .article{
    position: absolute;
    bottom: 8px;
    left: 10px;
    right: auto;
    top: auto;
}

.layout_block.layout_list_ext ul.thumbnails > li .introcontent,
.layout_block.layout_list ul.thumbnails > li .introcontent{
     display: block;    
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
}

.layout_block.layout_list_ext ul.thumbnails form,
.layout_block.layout_list ul.thumbnails form {
    display: table;
}

.layout_block.layout_list_ext ul.thumbnails .item .bottom .delta,
.layout_block.layout_list ul.thumbnails .item .bottom .delta{
    top: 50%;
    left: -5px;
    font-size: 60px;
    margin-top: -12px;
}

.layout_block.layout_list_ext ul.thumbnails .item .bottom,
.layout_block.layout_list_ext ul.thumbnails .item .bottom_wrapp,
.layout_block.layout_list ul.thumbnails .item .bottom,
.layout_block.layout_list ul.thumbnails .item .bottom_wrapp{
    position: static;
}

.layout_block.layout_list_ext ul.thumbnails > li .introcontent_wrapp,
.layout_block.layout_list ul.thumbnails > li .introcontent_wrapp{
    max-height: 85px;
    overflow: hidden;
}

.layout_block.layout_list_ext ul.thumbnails > li .bottom_info,
.layout_block.layout_list ul.thumbnails > li .bottom_info{
    position: absolute;
    bottom: 0;
    left: 0;
}

@-moz-document url-prefix() {
    .pos_relative {
        display: table;
        height: 100%;
        position: relative;
        width: 100%;
    }
    
    .layout_block.layout_list_ext ul.thumbnails > li .bottom_wrapp,
    .layout_block.layout_list ul.thumbnails > li .bottom_wrapp {
        position: relative !important;
    }
    
    .layout_block.layout_list_ext ul.thumbnails .item .bottom .delta{
        left: -12%;
    }
    
    .layout_block.layout_list ul.thumbnails .item .bottom .delta {
        left: -4%;
    }
}

.catalog ul.thumbnails > li .introcontent,
.catalog ul.thumbnails > li .article,
.catalog ul.thumbnails > li .caption .bottom_wrapp .price > .title,
.catalog ul.thumbnails > li .rating,
.catalog ul.thumbnails > li .bottom_info,
.catalog ul.thumbnails > li .introcontent,
.catalog ul.thumbnails > li .price .title,
.catalog ul.thumbnails > li .price .quant_wrapp,
.layout_block.layout_list ul.thumbnails > li .introcontent,
.layout_block.layout_grid ul.thumbnails > li .quant,
.layout_block.layout_list_ext ul.thumbnails > li .quant,
.layout_block.layout_grid ul.thumbnails > li .price .title{
    display: none;
}

.layout_block.layout_list_ext ul.thumbnails > li .bottom_info,
.layout_block.layout_list ul.thumbnails > li .bottom_info,
.layout_block.layout_list ul.thumbnails > li .rating,
.layout_block.layout_list_ext ul.thumbnails > li .rating,
.layout_block.layout_list_ext ul.thumbnails > li .caption .bottom_wrapp .price > .title,
.layout_block.layout_list ul.thumbnails > li .caption .bottom_wrapp .price > .title,
.layout_block.layout_list_ext ul.thumbnails > li .price .title,
.layout_block.layout_list ul.thumbnails > li .price .title{
    display: inline-block;
}

.layout_block.layout_list ul.thumbnails .item .img img {
    border-width: 5px;
}

.catalog ul.thumbnails > li .price > div,
.layout_block.layout_grid ul.thumbnails > li .price > div,
.layout_block.layout_list_ext ul.thumbnails > li .price > div{
    width: 100%;
}

.layout_block.layout_grid ul.thumbnails > li .price .quant_wrapp,
.layout_block.layout_list_ext ul.thumbnails > li .price .quant_wrapp{
    display: none;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#avatar_edit .modal {
    width: 1250px;
    margin-left: -625px;
}

.preview-pane{
    display: block;
    position: absolute;
    z-index: 2000;
    right: -180px;
    top: -10px;
}

.preview-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.avatar_preview img {
    width: 100%;
}

.avatar_preview {
    max-width: 300px;
    width: 300px;
    position: relative;
    box-sizing: border-box;
}

#avatar_edit .modal-body {
    max-height: 600px;
}

input[type="file"]{
    line-height: 20px;
}

.jcrop-holder,
.border_ksen{
    border: 5px solid #EDEDF0;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.jcrop-holder,
.border_ksen.lrg{
    border-width: 10px;
}

.review_product .img img{
    width: 100%;
}

.bottom_review_block,
.reviews .add_shop_review{
    position: absolute;
    bottom: -5px;
    left: 120px;
}

.bottom_review_block > ul {
    margin-bottom: 0px;
}


.item.review_product {
    margin-bottom: 15px;
}

.review_product .title,
.related_products .thumbnails .item .name{
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2% 8%;
    margin: 10px 0px 8% 0px;
    background-color: rgba(231, 231, 231, 0.5);
}

.review_product .info {
    position: relative;
}

.review_product .img {
    border: 10px solid #EDEDF0;
    border-radius: 5px;
}
/*
textarea.quick_edit{
    cursor: text;
    background-color: #FFF;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0 5px;
    margin: 0;
    width: 100%;
    resize: none;
    min-height: 20px;
    height: 20px;
}

.active > textarea.quick_edit{
    border-bottom: 1px solid #D5D5D5;
}

.border_fake_android {
    width: 100%;
    position: relative;
    display: inline-block;
}

.active.border_fake_android:before,
.active.border_fake_android:after{
    display: block;
}

.border_fake_android:after,
.border_fake_android:before{
    content: "";
    position: absolute;
    height: 8px;
    width: 1px;
    z-index: 999;
    background-color: #D5D5D5;
    display: none;
    bottom: 0px;
}

.border_fake_android textarea:focus,
.border_fake_android:hover textarea{
    border-bottom-color: #005580;
}

.border_fake_android:hover:before,
.border_fake_android:hover:after{
    background-color: #005580;
}

.border_fake_android:focus:before,
.border_fake_android:focus:after{
    background-color: #005580;
}

.border_fake_android:before{
    left: 0px;
}

.border_fake_android:after{
    right: 0px;
}

.active > textarea.quick_edit:focus{
    background-color: #fff;
    box-shadow: none;
}
*/
ul.inline > li.sub_toolbar {
    display: none;
}

.quick_edit[contenteditable="true"] {
    padding: 3px 5px;
}

.quick_edit[contenteditable="true"],
.quick_edit[contenteditable="true"]:focus {
    outline: 1px dashed #2B8BAD;
}

.user-panel .tab-content {
    overflow: inherit;
}

.save_dynamic_link,
.cancel_edit {
    cursor: pointer;
}

.follow {
    display: none;
    position: absolute;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-radius: 4px;
    font-size: 11px;
    line-height: 1.4;
    padding: 8px;
    padding-left: 22px;
}

.adresses .expnd {
    cursor: pointer;
}

.wrap_rvw_block .toolbar {
    margin-left: 110px;
}

.table td > input[type="radio"]{
    margin-top: 0;
}

.edit_order_status select{
    width: 90%;
}

.thumbnails .item .close,
.thumbnails .item .close{
    display: none;
    width: 100%;
    position: absolute;
    z-index: 99;
    opacity: .6;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}

.favorities .thumbnails .item .close:hover,
.watched .thumbnails .item .close:hover{
    opacity: .8;
}

.favorities .thumbnails .item:hover .close,
.watched .thumbnails .item:hover .close{
    display: inline-block;
}

.reviews .item .rating {
    margin-left: 10px;
}

.reviews .item {
    margin-bottom: 15px;
}

.item.reviews.reply {
    padding-left: 50px;
    margin-top: -10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.dl-horizontal {
    margin-top: 5px;
}

.km-message.modal{
    z-index: 99999;
}

.info_box {
    margin-bottom: 20px;
}

.search_page .categories .item .img,
.search_page .manufacture .item .img{
    margin-right: 15px;
	float:left;
}

.search_page .categories,
.search_page .manufacture{
    margin-bottom: 15px;
}